.banner {
        background-image: url("images/background.jpg");
        width: auto;
        height: 100px;
        position: relative;
}
header{
    text-align: center;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #FFFFFF;
    font-size: 55px;
}
.logo {
    position: absolute;
    top: -150px;
    left: 50px;
}
* {
  font-family: "Raleway";
  box-sizing: border-box;
}
.navigationmenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: linear-gradient(to left, #b5c1d1, #87b4c9);
  color: #FFF;
  height: 50px;
  padding: 1em;
}
.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-icon-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu_switcher {
  display: none;
}

.menu-icon,
.menu-icon::before,
.menu-icon::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-icon::before {
  content: '';
  margin-top: -8px;
}

.menu-icon::after {
  content: '';
  margin-top: 8px;
}
#menu_switcher:checked + .menu-icon-container .menu-icon::before {
  margin-top: 0px;
  transform: rotate(405deg);
}
#menu_switcher:checked + .menu-icon-container .menu-icon {
  background: rgba(255, 255, 255, 0);
}
#menu_switcher:checked + .menu-icon-container .menu-icon::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
@media screen and (max-width: 900px) {
  .menu-icon-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 110px;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu_switcher ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu_switcher:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #d0d4e0;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
/* active link */
a {
  color: black;
}
/* mouse over link */
a:hover {
  color: #070f11;
  font-weight: bold;
  font-size: 18px
}
/*visited*/
a:visited {
  color: grey;
}
/*ANEL MUN*/
h1{
    color:black;
    text-align: center;
    font-family: "Apple Chancery";
    font-size: 35px;
    background: #d1d3df;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}
/*ABOUT ME*/
.profile {
    border-color: #d1d3df;
  width: auto;
  height: auto;
  border-style: dashed;
  border-width: 5px;
  background-color: #deeff0;
  text-align: center;
  text-indent: 1px;
  margin-left: 1%;
  margin-right: 1%;
}

.education {
    border-color: #d1d3df;
    position: relative;
  width: 35%;
  height: auto;
  border-style: dashed;
  border-width: 5px;
  background-color: #ffffff;
  text-align: center;
  text-indent: 1px;
  order: 1;
  margin-left: 1%;
  margin-top: 10px;
  background: linear-gradient(to bottom, #deeff0, #d9d7e1);
  border-radius: 5%
}
.achievements {
    border-color: #d1d3df;
    position: relative;
  width: 62%;
  height: auto;
  border-style: dashed;
  border-width: 5px;
  background-color: #deeff0;
  text-align: center;
  text-indent: 1px;
  order: 2;
  margin-left: 1%;
  margin-top: 10px;
  background: linear-gradient(to bottom, #deeff0, #d9d7e1);
  border-radius: 5%
}
.activities {
    border-color: #d1d3df;
    position: relative;
  width: 62%;
  height: auto;
  border-style: dashed;
  border-width: 5px;
  background-color: #deeff0;
  text-align: center;
  text-indent: 1px;
  order: 3;
  margin-left: 1%;
  margin-top: 10px;
  background: linear-gradient(to bottom, #deeff0, #d9d7e1);
  border-radius: 5%;
}
.languages {
    border-color: #d1d3df;
    position: relative;
  width: 35%;
  height: auto;
  border-style: dashed;
  border-width: 5px;
  background-color: #deeff0;
  text-align: center;
  text-indent: 1px;
  order: 4;
  margin-left: 1%;
  margin-top: 10px;
  background: linear-gradient(to bottom, #deeff0, #d9d7e1);
  border-radius: 5%;
}
}

ul {
    display: inline-block;
    text-align: left;
}

li {
    text-align: left;
}
section{
  display: flex;
  flex-wrap: wrap;
  border: none;
  margin-top: 5px;
}

.research {
    border-color: #d1d3df;
  width: auto;
  height: auto;
  border-style: dashed;
  border-width: 5px;
  background-color: #deeff0;
  text-align: center;
  text-indent: 1px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10px;
  margin-bottom: 10px;
  background: linear-gradient(to bottom, #deeff0, #d9d7e1);
  border-radius: 5%;
}

.icon1 {
    display: block;
    margin-left: auto;
    margin-right: 40%;
    width: 30%;
    height: auto;
}

.image2 {
    display: block;
    margin-left: auto;
    margin-right: 45%;
    margin-bottom: 1%;
    width: 10%;
    height: auto;
}
.image3 {
    display: block;
    margin-left: auto;
    margin-right: 47%;
    margin-bottom: 1%;
    width: 10%;
    height: auto;
}
.image4 {
    display: block;
    margin-left: auto;
    margin-right: 35%;
    margin-bottom: auto;
    width: 25%;
    height: auto;
    margin-top: 5;
}

/* Gallery*/
* {
  box-sizing: border-box;
}
.thumbnails > .window {
  padding: 0 8px;
}

.thumbnails:after {
  content: "";
  display: table;
  clear: both;
}

.window {
  float: left;
  width: 16.6%;
  margin-top: 0;
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background:rgba(0, 0, 0, 0.5);
}

.lightbox-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
.myPhotos {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.Photonumber {
  color: black;
  margin-top: 1%;
  margin left: 5%;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.description-container {
  text-align: center;
  background-color: black;
  padding: 1px 2px;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
    background-image: url("images/background.jpg");
    postition: relative;

   }
.contacts
 {
    border-color: #d1d3df;
  width: 30%;
  height: auto;
  border-style: dashed;
  border-width: 5px;
  background-color: rgba(222, 239, 240,0.8);
  text-align: center;
  border-radius: 15%;
  text-indent: 1px;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.gallery {
  text-align: center;
   background-color: #deeff0;
   font-style: italic;
   padding-top: 0.1%;
   padding-bottom: 0.1%;
   margin-top: 1%;
   width: auto;
   margin-left: 0.5%;
   margin-right: 0.5%;
   border-radius: 15%;
}

@media screen and (max-width: 767px) {
    .lightbox {
  padding-top: 50px;
}
.education {
  width: 100%;
}
.achievements {
    width: 100%;
}
.activities{
    width: 100%;
}
.languages{
    width: 100%;
}
.image2 {
    display: block;
    margin-left: auto;
    margin-right: 40%;
    margin-bottom: 1%;
    width: 20%;
    height: auto;
}
.image3 {
    display: block;
    margin-left: auto;
    margin-right: 45%;
    margin-bottom: 1%;
    width: 15%;
    height: auto;
}
.image4 {
    display: block;
    margin-left: auto;
    margin-right: 40%;
    margin-bottom: 1%;
    width: 20%;
    height: auto;
}
.research {
    width: 100%;
    margin-left: 0;
}
.contacts {
    width: 50%;
    margin-left: 25%;
  margin-right: 25%;
}
.banner {
  font-size: 70%;
}
.thumbnails > .window {
  padding: 0 1px;
}
.gallery {
  font-size: 90%;
}

}


